* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a17dbd;
  font-family: "Karla", sans-serif;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  display: flex;
  background-color: rgba(2555, 255, 255, 0.5);
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.player {
  display: flex;
  flex-direction: column;
  flex: 50%;
  align-items: center;
  padding: 2rem;
}

/* ELEMENTS */
.name {
  font-size: 4rem;
  position: relative;
  margin-bottom: 8rem;
  font-weight: 300;
}

.score {
  font-size: 8rem;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.7s;
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 700;
}

.player--active .current {
  opacity: 1;
}
.player--winner {
  border: 5px solid #972ce9;
}

.player--winner .name {
  color: #972ce9;
  font-weight: 700;
}

.current {
  background-color: #a17dbd;
  opacity: 0.7;
  width: 65%;
  text-align: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.current-label {
  font-size: 1.7rem;
}

.current-score {
  font-size: 3.5rem;
}
/* MODAL STYLES */
.close-modal {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.modal {
  width: 50rem;
  position: absolute;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.15);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.hidden {
  display: none;
}
/* ABSOLUTELY POSITIONED ELEMENTS */

.btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  width: 10rem;
  font-family: "Karla", sans-serif;
  background: none;
  border: none;

  background-color: rgba(70, 62, 75, 0.25);
  backdrop-filter: blur(10px);
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.btn--rules {
  top: 2rem;
  font-weight: 700;
}
.btn--new {
  top: 32.5rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translate(-50%);
  width: 10rem;
  height: auto;
}

.hidden {
  display: none;
}
